{% extends 'base.html.twig' %}
{% block title %}ZoulaEvent | Accueil{% endblock %}
{% block body %}
{% include "layouts/_navbar.html.twig" %}
<section class="px-4 py-24 mx-auto max-w-7xl">
   <h2 class="mb-2 text-3xl font-extrabold leading-tight text-gray-900">Découvrir nos événements</h2>
   <p class="mb-20 text-lg text-gray-500"></p>

   <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
      {% for event in events %}
      <div>
         <a href="{{path('event_show', {'slug': event.slug})}}">
         <img src="/images/events/{{event.imageName}}" class="object-cover w-full h-56 mb-5 bg-center rounded" alt="Kutty" loading="lazy" />
         </a>
         <p class="mb-2 text-xs font-semibold tracking-wider text-gray-400 uppercase">{{event.category}}</p>
         <h2 class="mb-2 text-lg font-semibold text-gray-900">
            <a href="#" class="text-gray-900 hover:text-purple-700">{{ event.title }}</a>
         </h2>
         <p class="mb-3 text-sm font-normal text-gray-500">
            {{event.content|u.truncate(100)}}
         </p>
         <p class="mb-3 text-sm font-normal text-gray-500">
            <a href="#" class="font-medium text-gray-900 hover:text-purple-700">Par {{event.owner.firstname}}</a>
            {{event.createdAt|format_datetime()}}
         </p>
      </div>
      {% endfor %}
   </div>
</section>
{% endblock %}