{% extends 'base.html.twig' %}

{% block title %}Zevents|Inscription{% endblock %}

{% block body %}

    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

    <section class="bg-white">

            <main
                    aria-label="Main"
                    class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
            >
                <div class="max-w-xl lg:max-w-3xl">
                    <div class="relative -mt-16 block mt-4">
        

                        <h3
                                class="mt-2 text-lg font-bold text-gray-900 sm:text-3xl md:text-4xl"
                        >
                            Inscrivez-vous 
                        </h3>
                    </div>

                    <form method="post" class="mt-8 grid grid-cols-6 gap-6">
                        {{ form_start(registrationForm) }}
                        <div class="col-span-6 sm:col-span-3">
                            {{form_label(registrationForm.firstname, 'Prénom', {'label_attr': {'class':'block text-sm font-medium text-gray-700'}})}}


                            {{form_widget(registrationForm.firstname, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-600 bg-white text-sm text-gray-700 shadow-sm'}})}}
                            <div class="text-red-500 font-semibold text-xs bg-white">
                                {{form_errors(registrationForm.firstname)}}
                            </div>
                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            {{form_label(registrationForm.lastname, 'Nom', {'label_attr': {'class':'block text-sm font-medium text-gray-700'}})}}

                            {{form_widget(registrationForm.lastname, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-600 bg-white text-sm text-gray-700 shadow-sm'}})}}
                            <div class="text-red-500 font-semibold text-xs bg-white">
                                {{form_errors(registrationForm.lastname)}}
                            </div>
                        </div>

                        <div class="col-span-6">

                            {{form_label(registrationForm.email, 'Email', {'label_attr': {'class':'block text-sm font-medium text-gray-700'}})}}

                            {{form_widget(registrationForm.email, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-600 bg-white text-sm text-gray-700 shadow-sm'}})}}
                            <div class="text-red-500 font-semibold text-xs bg-white">
                                {{form_errors(registrationForm.email)}}
                            </div>

                        </div>

                        <div class="col-span-6 sm:col-span-3">
                            {{form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class':'block text-sm font-medium text-gray-700'}})}}

                            {{form_widget(registrationForm.plainPassword, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-600 bg-white text-sm text-gray-700 shadow-sm'}})}}
                            <div class="text-red-500 font-semibold text-xs bg-white">
                                {{form_errors(registrationForm.plainPassword)}}
                            </div>

                        </div>

                        <div class="col-span-6 sm:col-span-3">

                            {{form_label(registrationForm.repeat_password, 'Confirmation mot de passe', {'label_attr': {'class':'block text-sm font-medium text-gray-700'}})}}

                            {{form_widget(registrationForm.repeat_password, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-600 bg-white text-sm text-gray-700 shadow-sm'}})}}
                            <div class="text-red-500 font-semibold text-xs bg-white">
                                {{form_errors(registrationForm.repeat_password)}}
                            </div>
                        </div>

                        <div class="col-span-6">

                            <div class="text-red-500 font-semibold text-xs bg-white">
                                {{form_errors(registrationForm.agreeTerms)}}
                            </div>
                            <label for="MarketingAccept" class="flex gap-4">
                                {{form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-5 w-5 rounded-md border-gray-900 bg-white shadow-sm'}})}}
                                <span class="text-sm text-black">
                                    I want to receive emails about events, product updates and
                                    company announcements.
                                </span>
                            </label>
                        </div>

                        <div class="col-span-6">
                            <p class="text-sm text-black">
                                En créeant un compte, vous acceptez les conditions d'utilisation
                                <a href="#" class="text-gray-700 underline">
                                    terms and conditions
                                </a>
                                and
                                <a href="#" class="text-black underline">privacy policy</a>.
                            </p>
                        </div>

                        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                            <button
                                    type="submit"
                                    class="inline-block shrink-0 rounded-md border bg-pink-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
                            >
                                Ouvrir un compte
                            </button>

                            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
                                Déja un compte?
                                <a href="{{path('app_login')}}" class="text-gray-700 underline">Se connecter</a>.
                            </p>
                        </div>
                        {{ form_end(registrationForm) }}
                    </form>
                </div>
            </main>
    </section>

{% endblock %}
